# Gradle
.gradle/
build/
out/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# Run dirs
run/
run-data/

# Local files
local.properties
local-maven/

# OS
.DS_Store
Thumbs.db

# Сторонние исходники (не часть этого мода)
CC-CBC-main/
CreateBigCannons-create-v6-1.20.1/

# Forge / FML
src/generated/

